/* src/styles/Tile.module.css */
.tile {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
  }
  
  .tile:hover {
    /* transform: translateY(-10px); */
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  }
  
@media (prefers-color-scheme: dark) {
.tile {
    --background-color: #171717;
    --foreground: #ededed;
  }
}

  .imageContainer {
    width: 100%;
    height: 150px;
    position: relative;
  }
  
  .content {
    padding: 16px;
  }
  
  .title {
    font-size: 1.25rem;
    font-weight: bold;
    margin: 0;
  }
  
  .subtext {
    color: #555;
    font-size: 1rem;
    margin-top: 8px;
  }