/* Code block dual theme support */
code[data-theme*=" "],
code[data-theme*=" "] span {
  color: var(--shiki-light);
  background-color: #fafafa;
  /* background-color: var(--shiki-light-bg); */
}

.dark code[data-theme*=" "],
.dark code[data-theme*=" "] span {
  color: var(--shiki-dark);
  background-color: var(--shiki-dark-bg);
}

/* Code block container */
[data-rehype-pretty-code-figure] pre {
  @apply px-0 py-4 rounded-xl overflow-x-auto;
  @apply border border-zinc-200;
  /* margin: 0 !important; */
  padding: 0 !important;
}

.dark [data-rehype-pretty-code-figure] pre {
  @apply border-zinc-700;
}

[data-rehype-pretty-code-figure] code {
  @apply text-sm !leading-loose border-0 p-0;
}

[data-rehype-pretty-code-figure] code[data-line-numbers] {
  counter-reset: line;
}

[data-rehype-pretty-code-figure] code[data-line-numbers] > [data-line]::before {
  counter-increment: line;
  content: counter(line);
  @apply mr-4 inline-block w-4 text-right text-gray-500;
}

[data-rehype-pretty-code-figure] [data-line] {
  @apply border-l-2 border-l-transparent px-3;
}

[data-rehype-pretty-code-figure] [data-highlighted-line] {
  background: rgba(200, 200, 255, 0.1);
  @apply border-l-blue-400;
}

[data-rehype-pretty-code-figure] [data-highlighted-chars] {
  @apply rounded bg-zinc-600/50;
  box-shadow: 0 0 0 4px rgb(82 82 91 / 0.5);
}

[data-rehype-pretty-code-figure] [data-chars-id] {
  @apply border-b-2 p-1 shadow-none;
}
.subheading-anchor {
  @apply no-underline transition font-bold relative;
}

.subheading-anchor::after {
  content: "🔗";
  opacity: 0;
  @apply ml-2;
  transition: opacity 0.3s ease;
}

.subheading-anchor:hover::after {
  opacity: 1;
}
